:p id="intro" class="bold, large"
<<
   Twins é uma ferramenta que te ajuda a escrever
   componentes para a sua UI Html sem dor e depois
   ter todo o resultado pronto para ser servido de
   forma confiável.

   Não concorremos com frameworks como o famoso "React"
   Esse tipo de bobagem está fora da nossa ossada.

   Estamos aqui para trazer simplicidade ao dependency hell da web
   e trazer conforto aqueles que querem desenvolver sem surpresa
   e vulnerabilidades sendo expremidas no rabo.
>>

:strong "Fica esperto React, não somos concorrentes... Somos seu pior pesadelo."

:form
    :h1 "Get Subscribed"
    :p "Get Updates from your interest" :strong "We don't spam"
    :input type="text" name="name"
    :input type="text" name="email"
    :button "Submit"
:
